<div class="app">
  <div class="app-content">
    <div class="app-inner">
      <div class="header">
        <h1>Log In</h1>
      </div>
      <br>
      <%= form_for(@user, url: sessions_path, method: (:post)) do |f| %>
        <div>
          <%= f.text_field :email, :placeholder => "Email", autofocus: true %>
        </div>
        <br>
        <div>
          <%= f.password_field :password, :placeholder => "Password" %>
        </div>
        <br>
        <div>
          <%= f.submit "Log In" %>
        </div>
      <% end %>
      <br>
      <p>Or</p>
      <div class="menu">
        <%= button_to "Log in using Google account", "/auth/google_oauth2" %><br><br>
        <%= link_to 'Create Account', new_user_path %>
      </div>
    </div>
  </div>
</div>