<%= form_with model: @location, local: true do |f| %>
    <% if @location.errors.any? %>
        <% @location.errors.full_messages.each do |message| %>
          <ul class="errors">
            <li><%= message %></li>
          </ul>
        <% end %>
    <% end %>
    <br>
    <br>

    <%= f.text_field :name, :placeholder => "Name*" %><br><br>

    <%= f.text_field :address, :placeholder => "Street Address*" %><br><br>

    <%= f.text_field :city, :placeholder => "City*" %><br><br>

    <%= f.text_field :state, :placeholder => "State*" %><br><br>

    <%= f.number_field :zip, :placeholder => "Zip*" %><br><br>

    <%= f.submit %>
<% end %>